
header
{
  width: 80%;
  text-align: center;
  font-size: 50px;
  padding: 15px;
  margin: auto;
  text-transform: capitalize;
  font-weight: 900;
  text-shadow: 0px 1px 2px #000000;
}
body
{
  width: 100%;
  height: 100%;
  background-image: url(blatvann.jpg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0px;
  font-family: Helvetica Neue,Helvetica,Segoe UI,Arial,sans-serif;
}

a.menyelement{
  display: inline-block;
  font-size: 1.5vw;
  font-weight: 500;
  text-align: center;
  padding: 0.7vw 4vw;
}
a.menyelement:hover{
  background-color: #121212;
  font-weight: 900;
}
div.meny{
  width: 80%;
  margin: auto;
  padding: 0px;
  background-color: #121212;
  display: flex;
  display: -webkit-flex;
  overflow: hidden;
  justify-content: center;
}
a
{
  text-decoration: none;
  color: #f0f0f0;
}

.storbakgrunn
{
  width: 80%;
  margin: auto;
  background: #f0f0f0;
  display: flex;
  display: -webkit-flex;
}
#info
{
  float: left;
  width: 45%;
  height: 90%;
  padding: 20px;
  font-style: Georgia;
  color: #121212;
  order: 1;
}
#info a{
  display: block;
}
#media
{
  width: 50%;
  padding: 20px;
  overflow: hidden;
  order: 2;
}
iframe, img#filter{
  /*transform: translate(-50%,0);*/
  margin: inherit;
}
footer
{
  background: #121212;
  width: 80%;
  margin: auto;
  padding: 40px 0px;
  text-align: center;
}
}
#title_løsning
{
  font-size: 30px;
  text-align: center;
}
img{
  max-height: 100%;
}
#kontakt
{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #121212;
  opacity: 1;
  background: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
}

#kontakt div
{
  width: 200px;
  margin: 50px 50px;
  display: inline-block;
}
#langch{
  width: 30px;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}